<div class="flex items-center px-4 space-x-4 justify-between">
  <input type="checkbox" class="mr-2 rounded" data-action="quest#toggleCompleted" <%= quest.completed ? 'checked' : '' %> />
  <button type="button" class="flex-1 min-w-0 text-left p-0 m-0 focus:outline-none w-full" data-action="sidebar#toggleSidebar" data-quest-id="<%= quest.id %>">
    <span><%= quest.title %></span>
  </button>
</div>